.main-header {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 143px;
}

.main-header::before {
    content: '';
    position: absolute;
    width: 1120px;
    height: 500px;
    background: radial-gradient(100.14% 227.25% at 6.25% 13.75%, rgba(38, 169, 224, 0.8) 0%, rgba(38, 169, 224, 0.456) 14.63%, rgba(0, 0, 0, 0.384) 31.44%, rgba(0, 0, 0, 0.592) 69.73%, rgba(0, 0, 0, 0.8) 100%);
    transform: rotate(0deg);
    z-index: -1;
    top: 0px;
    left: -100px;
}

.main-header::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(38, 169, 224, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
    top: 157px;
    left: 848px;
}

.header-nav {
    display: flex;
    height: 198px;
    padding-left: 87px;
    padding-right: 121px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-logo {
    position: relative;
    width: 237px;
    top: -62px;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 335px;
    margin-top: 31px;
}

.nav-link {
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 24px;
}

.nav-item:first-child .nav-link {
    width: 130px;
    background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
}

.nav-item:first-child .nav-link:hover {
    background: none;
    border: 1px solid rgba(38, 169, 224, 1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
}

.nav-item:nth-child(2) .nav-link {
    width: 175px;
    border: 1px solid rgba(38, 169, 224, 1);
}

.nav-item:nth-child(2) .nav-link:hover {
    width: 175px;
    background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
    border: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1002px;
}

.header-title {
    margin: 0;
    margin-bottom: 33px;
    width: 552px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 3%;    
    text-transform: uppercase;
}

.header-title__decor {
    background: #26A9E0;
    border: 5px solid #26A9E0;
    border-top: none;
    border-bottom: none;
}

.header-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
}

.header-text:not(:nth-child(4)) {
    margin-bottom: 13px;
}

.header-text:nth-child(4) {
    margin-bottom: 66px;
}

.link-container {
    display: flex;
    flex-wrap: nowrap;
}

.header-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 75px;
    border-radius: 40px;
    padding-top: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 30px; 
    cursor: pointer;
}

.header-link:first-child {
    background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
}

.header-link:first-child:hover {
    background: none;
    border: 2px solid rgba(38, 169, 224, 1);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.header-link:nth-child(2) {
    border: 2px solid rgba(38, 169, 224, 1);
    margin-left: 20px;
}

.header-link:nth-child(2):hover {
    background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
    border: none;
    margin-left: 20px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.header-img {
    position: absolute;
    top: -40px;
    left: 629px;
    transform: rotate(-13Deg);
}